.header {
  height: 72px;
  background: lightblue;
}

.content {
  padding: 16px;
  background: #FFF;
}

.sider {
  background: #FFFFFF;
  box-sizing: border-box;
}

.mainBar {
  min-height: 512px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  align-content: space-evenly;
}

.footer {
  background: #FFF;
  text-align: center;
}

.card {
  width: 196px;
  margin: 0px 8px 8px 8px;
}